* {
    margin: 0px;
    padding: 0px;
    /* font-size: 50%; */

}

@media only screen and (  max-width:1400px  ) {
    html {
        font-size: 62.5%;
    }

    .fitness_type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 4.5rem;
    }

    .form-iteam label {
        font-size: 1.7rem;
    }

    .form-iteam input {
        font-size: 1.5rem;
    }

    .book_img_line {

        font-size: 3rem;
    }

    .book_img_lines {

        font-size: 2rem;
    }



}


@media only screen and (max-width:1280px) {
    html {
        font-size: 50%;
    }

    /* .burger {
        display: block;
        cursor: pointer;
    } */

    .list {
        /* flex-direction: column; */
    }

    .list {
        /* display: none; */

    }

    .fitness_type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 4.5rem;
    }

    .form-iteam label {
        font-size: 1.7rem;
    }

    .form-iteam input {
        font-size: 1.5rem;
    }

    .book_img_line {

        font-size: 3.5rem;
    }

    .book_img_lines {

        font-size: 2.5rem;
    }



}
@media only screen and (max-width:1015px) {
    htnl {
        font-size: 45%;
    }

    .fitness_type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 4.5rem;
    }

    .form-iteam label {
        font-size: 1.3rem;
    }

    .form-iteam input {
        font-size: 1.2rem;
    }

    .book_img_line {

        font-size: 3rem;
    }

    .book_img_lines {

        font-size: 2rem;
    }



}
@media only screen and (max-width:800px) {
    htnl {
        font-size: 42%;
    }

    .fitness_type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 3.5rem;
    }

    .form-iteam label {
        font-size: 1.2rem;
    }

    .form-iteam input {
        font-size: 1rem;
    }

    .book_img_line {

        font-size: 2.5rem;
    }

    .book_img_lines {

        font-size: 1.7rem;
    }
    



}